:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.grid {
  top: 115.9473684210526px;
  left: 3.157894736842104px;
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
